apiVersion: v1
kind: Service
metadata:
  name: customer-service
  namespace: ecommerce
  labels:
    app: customer-service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: customer-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer-service
  namespace: ecommerce
  labels:
    app: customer-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: customer-service
  template:
    metadata:
      labels:
        app: customer-service
    spec:
      containers:
        - name: customer-service
          image: 420053132841.dkr.ecr.us-east-1.amazonaws.com/customer-service:latest
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: db_host
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: "ecommerce"
            - name: DB_USER
              value: "admin"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ecommerce-secrets
                  key: db_password
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 300m
              memory: 256Mi
          # probes removed (MVP)
