apiVersion: v1
kind: Namespace
metadata:
  name: ecommerce
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ecommerce-config
  namespace: ecommerce
data:
  db_host: "ecommerce-db.c4dka8qo2eqj.us-east-1.rds.amazonaws.com"
  kafka_bootstrap_servers: "b-1.ecommercekafka.meu5px.c24.kafka.us-east-1.amazonaws.com:9092,b-2.ecommercekafka.meu5px.c24.kafka.us-east-1.amazonaws.com:9092"
  dynamodb_table: "ecommerce-analytics"
  aws_region: "us-east-1"
---
apiVersion: v1
kind: Secret
metadata:
  name: ecommerce-secrets
  namespace: ecommerce
type: Opaque
data:
  # Base64 encoded values - replace with actual values
  # echo -n 'your-password' | base64
  db_password: ZG1kdm1kdm0=
